#left {
  width: 10%;
  height: 100%;
  position: fixed;
  background-color: #424242;
  /* Black fallback color */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  text-transform: uppercase; }
  #left nav ul {
    margin: 0;
    padding: 0; }
    #left nav ul li {
      margin-top: 10px;
      /* 30px top margin to avoid conflict with the close button on smaller screens */
      list-style-type: none;
      text-align: center;
      /* Centered text/links */ }
      #left nav ul li .nav-a {
        color: #fafafa;
        text-decoration: none;
        font-weight: bold;
        display: block; }
        #left nav ul li .nav-a span {
          margin: 0; }
        #left nav ul li .nav-a svg {
          width: 35px;
          height: 35px;
          vertical-align: middle;
          padding: 5px; }
        #left nav ul li .nav-a svg path {
          fill: #fafafa; }
        #left nav ul li .nav-a:hover {
          color: #bababa; }
        #left nav ul li .nav-a.nav-active {
          color: #1de9b6; }
          #left nav ul li .nav-a.nav-active svg path {
            fill: #1de9b6 !important; }

#right {
  width: 90%;
  height: auto;
  position: absolute;
  right: 0;
  background-color: #212121;
  /* Black fallback color */ }
