@import '../../common/style/variable.scss';

.film-item {
  background: tomato;
  padding: 2px;
  max-width: 300px;
  max-height: 600px;
  margin-top: 10px;
  overflow: hidden; /* Disable horizontal scroll */

  .image {
    max-width: 300px;
    max-height: 450px;
    position: relative;
    opacity: 1;
    transition: .5s ease;

    .hover-block {
      display: none;
      position: absolute;
      top: 20px;
      left: 10px;
      width: 100%;

      svg {
        width: 35px;
        height: 35px;
        vertical-align: middle;
        padding: 5px;
      }
    }

    &:hover {
      img {
        opacity: 0.3;
      }

      .hover-block {
        img {
          opacity: 1;
        }
        display: block;
      }
    }
  }

  .text {
    margin: 0 5px;
    padding: 0;
    color: $color-white;

    .title {
      margin: 1px;
      text-align: center;
      //overflow: hidden;
      //white-space: nowrap;
    }

    p {
      margin: 1px;
    }
  }
}